.chat
  .right-header
    .group-name
      = @group.name 
      %ul.member-info  
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to 'Edit' , edit_group_path(@group), class:"edit" 

  .messages
    = render @messages
  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-message
        = f.text_field :content, class: 'form-content', placeholder: 'type a message'
        = f.label :image, class: 'form-info' do
          = icon('far', 'image', class: 'form-icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form-submit'